@import "tailwindcss";
 

@theme {
  --color-primary:#14B8A6;
  --color-secondary:#F8FAFC;
  --font-primary: "Titillium Web", "sans-serif";
}



body{
  @apply font-primary 
}

button{
  cursor: pointer;
}
.container{
  @apply w-11/12 max-w-[1300px] mx-auto
}

.btn{
  @apply px-4 py-1.5 bg-primary text-white text-sm rounded-md  font-medium uppercase
}
.section-title{
  @apply text-3xl font-semibold text-black
}
.section-description{
  @apply text-sm text-gray-400
}